@import "tailwindcss";

@font-face {
  font-family: 'bartex';
  src: url('./assets/fonts/bartex.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir';
  src: url('./assets/fonts/Avenir.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bartex-regular';
  src: url('./assets/fonts/Bartex-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "avenir", sans-serif;
}

h1,
h2,
h3 {
  font-family: 'bartex-regular', sans-serif;
}

li,
button,
a {
  cursor: pointer;
}

li:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

a:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}

#text-hero {
  font-size: 25px;
}

@media (max-width: 640px) {
  #text-hero {
    font-size: 21px;
  }
}
